*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}


body{
    background: url('./fondo4.jpg');
    background-size: cover;
  }

nav {
  width: 100%;
  text-align: center;
  padding: 20px;
}

nav a {
text-decoration: none;
color: white;
padding: 10px;
}

nav a:hover {
background-color: black;

}

table{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    
}


th{
    border: 1px solid black;
    padding: 15px;
    text-align: left;
    color: white;
}

td{
    border: 1px solid black;
    padding: 5px;
    color: white;
}

.contenedor{
    width: 100%;
}

.contenedor2{
    width: 100%;}