*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
}

body{
  background: url('./fondo3.jpg');
  background-size: cover;
}


nav {
  width: 100%;
  text-align: center;
  padding: 20px;
}

nav a {
text-decoration: none;
color: white;
padding: 10px;
}

nav a:hover {
background-color: black;

}

.imagen{
  width: 100%;
}

.imagen img{
  width: 100%;
}

.galeria{
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 
  1fr);
  column-gap: .5rem;
  row-gap: .5rem;
}

@media (min-width:100px){
  .galeria{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width:520px){
  .galeria{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width:728px){
  .galeria{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width:1024px){
  .galeria{
    grid-template-columns: repeat(4, 1fr);
  }
}